{{ define "main" }}
<article>
    <header id="post-header">
        {{ if eq .RelPermalink "/" }}
            <!-- <h1 style="visibility:hidden;">&nbsp;</h1> -->
        {{ end }}
    </header>
    <div class="landing-page-content">
        <div class="text-content">
            {{- partial "about_excerpt.html" . -}}
            {{ .Content }}

            I will be on the job market during the 2023-2024 academic year.
            You can reach me at <a href="mailto:acarril@princeton.edu">acarril@princeton.edu</a>.
        </div>
        <div class="image-content image-accent">
            <div class="image-wrapper">
                <img src="{{ "img/09_headshot.jpg" | absURL }}" alt="headshot" class="profile-image">
            </div>
        </div>        
    </div>
</article>
{{ end }}


